In [1]:
import pandas as pd

In [2]:
s = pd.Series(5,index=range(3))

AttributeError: 'module' object has no attribute 'Series'

In [ ]:
s

In [ ]:
d = {'a':1,'b':2,'c':3}
dd = pd.Series(d,index=['X','Y','Z'])
dd

In [ ]:
dd.index

In [ ]:
print("XXXX")

一级标题
===
二级标题
--

# 一级
## 二级
### 三级
#### 四级
##### 五级
###### 六级
####### 七级
######## 八级

>第一段
这里不需要了吧
>>嵌套的段落

* 一
* 四
* 是
+ A
+ B

1. A
2. B
3. C
- D
- E
* F
- X

 __use two underscores instead__
 
 **use two underscores instead**

# 第一个
>我是第一个
>>我是第二个

# 第二个
* 111
+ 222
- 333
5. 444

A First Level Header
====================
A Second Level Header
---------------------

Now is the time for all good men to come to
the aid of their country. This is just a
regular paragraph.

The quick brown fox jumped over the lazy
dog's back.
### Header 3

> This is a blockquote.
> 
> This is the second paragraph in the blockquote.
>
> ## This is an H2 in a blockquote

<h1>A First Level Header</h1>

<font size=+5 color="blue">Hello MarkDown</font>

单个*是斜体 *这是斜体*
两个**是粗体 **这是粗体**

* A list item.

    With multiple paragraphs.
    
    别有人间行路难

* Another item in the list.

This is an [example link](http://example.com/).

[百度](www.baidu.com "with a Title")越来越垃圾

I get 10 times more traffic from [Google][1] than from
[Yahoo][2] or [MSN][3].

[1]: http://google.com/ "Google"
[2]: http://search.yahoo.com/ "Yahoo Search"
[3]: http://search.msn.com/ "MSN Search"

# 有三个游戏网站[游侠][1] [游民][2] 和[3大妈][3dm]
[1]: www.ali213.net "YouXia"
[2]: www.gamersky.com "gamersky"
[3dm]: www.3dmgame.com

I start my morning with a cup of coffee and
[The New York Times][NY Times].

[ny times]: http://www.nytimes.com/

这个是动态图[gif][cf]
这个是静态图 ![静态的][1]

[cf]: http://i1.cqnews.net/ent/attachement/jpg/site82/2014-03-26/748637381822795752.jpg
[1]: file:///C:/Users/dell/Desktop/ssssssss/wj.jpg

![alt text](C:\Users\dell\Desktop\ssssssss\wj.jpg "Title")

I strongly recommend against using any `<blink>` tags.

I wish SmartyPants used named entities like `&mdash;`
instead of decimal-encoded entites like `&#8212;`.

<font size=+3 color="orange">Bingo</font>
`<font size=+3 color="blue">Bravo</font>`

Linux
    :Linux是开源操作系统内核

In [1]:
from pandas import Series,DataFrame

In [2]:
DataFrame([('A',[1,2,3]),('B',[4,5,6])])

   0          1
0  A  [1, 2, 3]
1  B  [4, 5, 6]

In [5]:
import pandas as pd

In [8]:
df = DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])],orient='index',columns=['one','two'])

In [9]:
df

   one  two
A    1    2
B    4    5

In [11]:
DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])

   A  B
0  1  4
1  2  5
2  3  6

In [13]:
df.A

AttributeError: 'DataFrame' object has no attribute 'A'